services:
  db:
    ports:
      - "5433:5432"

  api:
    build:
      target: builder
    environment:
      - APP_ENV=dev
    volumes:
      - ./src:/app/src
      # Also mount alembic files for development
      - ./alembic:/app/alembic
      # Mount tests so they can be run inside the container if needed
      - ./tests:/app/tests
    # The command enables hot-reloading with watchmedo
    command: tail -f /dev/null
